/* SCSS variable*/
$tableBorderColor: solid black;

/* SCSS inheritance*/
%tableCells {
  border: 1px $tableBorderColor;
  padding: 5px;
  text-align: center;
}

/* SCSS inheritance*/
%textStyling {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 50px;
  margin-left: 50px;
}

/* mobile-responsive query for small screens*/
@media only screen and (max-width: 800px) {
  %textStyling {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* .class selector & child selector*/
.row > div {
  font-size: 22px;
  text-align: center;
  padding: 10px;
  background-color: lightgrey;
  border: 2px white;
}

a:hover {
  background-color: grey;
}

/* HTML5 organization*/
footer {
  background-color: #F1F1F1;
  font-style: italic;
  text-align: center;
  padding: 10px;
}

/* #id selector*/
#mainSection {
  color: #007bff;
}

/* .class selector*/
.conversation {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 100px;
  font-style: italic;
}

/* multiple elements selector*/
h1, h2, h3, p, ul {
  @extend %textStyling;
}

/* descendant selector*/
ul li {
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

table {
  border: 2px $tableBorderColor;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

th {
  @extend %tableCells;
  background-color: lightgrey;
}

td {
  @extend %tableCells;
}
